@model Ansh.Models.DTO.UserProfile
@{
    string username = User.Identity.Name;
    
}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="@Url.Action("Display", "Dashboard")" class="logo d-flex align-items-center">
            <img src="~/context/img/logo.png" alt="">
            <span class="d-none d-lg-block">Admin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->



            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    @if (Model != null)
                    {
                        <!-- Add your HTML markup here to display the user's profile image -->
                        <img src="@Model.ProfileImage" alt="Profile Image" />

                        <!-- Display other user profile information as needed -->
                    }
                    else
                    {
                        <p>User profile not found.</p>
                    }
                    <span class="d-none d-md-block dropdown-toggle ps-2"> @username</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Hi @username</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Dashboard/Users">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/Dashboard/ChangePassword">
                            <i class="bi bi-gear"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/UserAuthentication/Logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            @if (User.IsInRole("admin"))
            {
                <ul class="sidebar-nav" id="sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Display", "Admin")">
                            <i class="bi bi-house-door"></i>
                            <span>Dashboard</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#department-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-building"></i><span>Department</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="department-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="@Url.Action("Add","Admin")">
                                    <i class="bi bi-plus-circle"></i><span>Add Department</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Manage","Admin")">
                                    <i class="bi bi-gear"></i><span>Manage Department</span>
                                </a>
                            </li>
                        </ul>
                    </li><!-- End Department Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#employee-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-person"></i><span>Employee</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="employee-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="@Url.Action("AddEmployee","Admin")">
                                    <i class="bi bi-person-plus"></i><span>Add Employee</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ManageEmployee","Admin")">
                                    <i class="bi bi-person-lines-fill"></i><span>Manage Employee</span>
                                </a>
                            </li>
                        </ul>
                    </li><!-- End Employee Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#project-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-building"></i><span>Project</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="project-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="@Url.Action("AddProject","Admin")">
                                    <i class="bi bi-plus-circle"></i><span>Add Project</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ManageProject","Admin")">
                                    <i class="bi bi-gear"></i><span>Manage Project</span>
                                </a>
                            </li>
                        </ul>
                    </li><!-- End Department Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#task-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-card-checklist"></i><span>Task</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="task-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="@Url.Action("AddTask", "Admin")">
                                    <i class="bi bi-file-plus"></i><span>Add Task</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ManageTask","Admin")">
                                    <i class="bi bi-file-earmark-text"></i><span>Manage Task</span>
                                </a>
                            </li>
                        </ul>
                    </li><!-- End Task Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#task-status-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-bar-chart-line"></i><span>Task Status</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="task-status-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="@Url.Action("TaskProgress","Admin")">
                                    <i class="bi bi-arrow-right-circle"></i><span>Inprogress Task</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CompletedTask","Admin")">
                                    <i class="bi bi-check-circle"></i><span>Completed Task</span>
                                </a>
                            </li>
                        </ul>
                    </li><!-- End Task Status Nav -->
                    <!-- Repeat the above structure for Employee, and other sections with unique IDs -->
                    <li class="nav-heading">Pages</li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="@Url.Action("Registration", "UserAuthentication")">
                            <i class="bi bi-card-list"></i>
                            <span>Register Employee</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="@Url.Action("RegistrationAdmin", "UserAuthentication")">
                            <i class="bi bi-card-list"></i>
                            <span>Register Admin</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="@Url.Action("Users", "Admin")">
                            <i class="bi bi-person"></i>
                            <span>Profile</span>
                        </a>
                    </li><!-- End Profile Page Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="@Url.Action("Contact","Admin")">
                            <i class="bi bi-envelope"></i>
                            <span>Contact</span>
                        </a>
                    </li><!-- End Contact Page Nav -->
                </ul>
            }
            else if (!string.IsNullOrEmpty(User.Identity.Name))
            {

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("Emp", "Dashboard")">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#employee-section-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-person"></i><span>Tasks</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="employee-section-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="@Url.Action("NewTask", "Dashboard")">
                                    <i class="bi bi-person-plus"></i><span>New Tasks</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("InProgessTask", "Dashboard")">
                                    <i class="bi bi-person-lines-fill"></i><span>InProgess Tasks</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CompletedTask", "Dashboard")">
                                    <i class="bi bi-person-lines-fill"></i><span>Completed Tasks</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AllTask", "Dashboard")">
                                    <i class="bi bi-person-lines-fill"></i><span>All Tasks</span>
                                </a>
                            </li>
                        </ul>
                    </li><!-- End Employee Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="@Url.Action("Time", "Dashboard")">
                            <i class="bi bi-clock-history"></i>
                            <span>Timesheet</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-heading">Pages</li>

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="@Url.Action("Users", "Dashboard")">
                            <i class="bi bi-person"></i>
                            <span>Profile</span>
                        </a>
                    </li><!-- End Profile Page Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="@Url.Action("Contact", "Dashboard")">
                            <i class="bi bi-envelope"></i>
                            <span>Contact</span>
                        </a>
                    </li><!-- End Contact Page Nav -->
                </ul>
            }
        </li>
    </ul>
</aside><!-- End Sidebar-->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

